language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
env:
  - PYTHONPATH='.'
branches:
  only:
    - master
    - next
before_install:
  - sudo apt-get update
  - sudo apt-get install nodejs
  - curl http://npmjs.org/install.sh | sh
  - npm install zombie
install: 
  - pip install . --use-mirrors
  - pip install nose
  - pip install fudge
script: 
  - nosetests --where=zombie
