language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
env:
  - PYTHONPATH='.'
branches:
  only:
    - master
    - next
before_install:
  - npm update
  - npm cache clean
  - PYTHON=~/virtualenv/python2.7/bin/python npm install zombie
install: 
  - pip install . --use-mirrors
  - pip install nose
  - pip install fudge
  - pip install unittest2
script: 
  - nosetests --where=zombie
